<footer class="main-footer" th:fragment="footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; 2018 
      <a href="https://toriatec.com">Toriatec.com</a> 
    </strong>
    <span> | <b>Torsi</b> Toriatec Siakad | All rights reserved.</span>
  </footer>