<div th:fragment="left-menu">
  
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img th:src="@{/dist/img/user2-160x160.jpg}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p style="max-width:21ch;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">Muhammad Firman Akbar</p>
          <a href="#"><i class="fa fa-eye"></i> View My Profile</a>
        </div>
      </div>
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li th:classappend="${module == 'dashboard' ? 'active' : ''}"> <!-- class="active"  -->
          <a th:href="@{/admin/dashboard}"> <i class="fa fa fa-dashboard"></i> <span>Dashboard</span> </a>
        </li>
        <li th:classappend="${module == 'siswa' || module == 'guru' || module == 'staf' ? 'active treeview menu-open' : 'treeview'}" class="">
          <a href="#">
            <i class="fa fa-users"></i> <span>Warga Sekolah</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li th:classappend="${module == 'siswa' ? 'active' : ''}" ><a th:href="@{/admin/siswa}"><i class="fa fa-circle-o"></i> Siswa</a></li>
            <li th:classappend="${module == 'guru' ? 'active' : ''}" ><a th:href="@{/admin/guru}"><i class="fa fa-circle-o"></i> Guru</a></li>
            <li th:classappend="${module == 'staf' ? 'active' : ''}" ><a th:href="@{/admin/staf}"><i class="fa fa-circle-o"></i> Staf</a></li>
          </ul>
        </li>      
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside> 
  
</div>